* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    color: black;
    font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}


body {
    margin: 0;
}

.logo {
    color: rgb(0, 66, 248);
    font-size: x-large;
}

a {
    text-decoration: none;
}

.cabecalho {
    display: flex;
    background-color: white;
    box-shadow: 0 0px 15px rgb(37, 37, 37);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 0;
    width: 100%;
    padding-left: 50px;
    align-items: center;
}

.secoes {
    padding-left: 550px;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: large;
    color: rgb(53, 51, 51);
}
.secoes a:hover{
    color: #0077ff;
    transition: 0.2s;
}
.number {
    padding-left: 270px;
    display: flex;
    margin: 0;
}

section {
    padding:   150px 0;
    background-color: rgb(238, 247, 250);
    display: flex;
}

.destaque {
    padding-bottom: 45px;
}

.buttons {
    display: flex;
    padding-top: 30px;
}

span {
    color: rgb(0, 66, 248);
    font-weight: bold;
}

span:hover {
    color: #0077ff;
    transition: 0.5s;
}

.container-title {
    margin: 100px;
    font-size: 30px;
}

.first-paragraph {
    color: rgb(87, 85, 85);
    font-size: 23px;
    width: 700px;
    margin: 0;
}

.agendar button {
    color: white;
    background-color: rgb(0, 66, 248);
    border-radius: 8px;
    cursor: pointer;
    height: 70px;
    padding-right: 20px;
}

.agendar i {
    color: white;
    margin: 8px;
}

.agendar button:hover {
    background-color: rgb(45, 0, 248);
    transition: 0.3s;
}

.serv {
    padding-left: 70px;
}

.serv button {
    height: 70px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px;
    cursor: pointer;
    border: 2px solid #1e5bff;
}

.serv button:hover {
    background-color: rgb(253, 248, 248);

    transition: 0.3s;
}

.serv a {
    color: rgb(0, 66, 248);
}

.odont img {
    border-radius: 15px;
    width: 600px;
}

.odont {
    padding-left: 250px;
}

.status {
    gap: 60px;
    display: flex;
}

.year h2 {
    height: 18px;
    color: #0077ff;
}

.year p {
margin: 5px;
    font-size: medium;
    color: rgb(87, 85, 85);
}

.pacientes h2 {
    height: 18px;
    color: #0077ff;
}

.pacientes p {
margin: 5px;
    font-size: medium;
    color: rgb(87, 85, 85);
}

.feedback h2 {
    height: 18px;
    color: #0077ff;
}

.feedback p {
margin: 5px;
    font-size: medium;
    color: rgb(87, 85, 85);
}

.servicos {
    padding: 80px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title-2 {
    text-align: center;
}

.title-2 p {
    font-size: 20px;
    color: rgb(87, 85, 85);
}

.box {
    border-radius: 16px;
    border: 2px solid #eeeef0;
}


.container-serv1 {
    padding-top: 40px;
    width: 1500px;
    /*  /* controla largura */
    margin: 0 auto;
    /* centraliza */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    height: 230px;
}

.container-serv2 {
    padding-top: 40px;
    width: 1500px;
    /* controla largura */
    margin: 0 auto;
    /* centraliza */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    height: 230px;
}

.box h3,
p,
i {
    margin: 20px;
}

.box i {
    font-size: x-large;
    color: #0077ff;
}

.container-serv1 :hover {
    outline: 2px solid rgba(163, 163, 163, 0.6);
    outline-offset: 0;
}

.container-serv2 :hover {
    outline: 2px solid rgba(163, 163, 163, 0.6);
    outline-offset: 0;
}

.container-serv1 h3 {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.container-serv1 i {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.container-serv1 p {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.container-serv2 h3 {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.container-serv2 i {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.container-serv2 p {
    border-bottom: none !important;
    outline: none !important;
    text-decoration: none;
}

.sobre {
    padding-top: 0px;
    background-color: rgb(250, 250, 250);
    padding-bottom: 60px;
}

.brush img {
    border-radius: 10px;
    height: 400px;
    margin: 100px;
}

.container-sobre {
    padding-top: 70px;
}

.container-sobre h1 {
    margin: 20px;
}

.sobre2 {
    display: flex;
    flex-direction: column;
}

.container-status {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 80px;
}

.box-status h2 {
    margin: 20px;
    font-size: medium;
}

.box-status p {
    font-size: small;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-color: #1e5bff;
    /* azul */
    border-radius: 10px;
    /* cantos arredondados */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box i {
    color: #ebebeb;
    font-size: 15px;
}

.icon-box {
    margin: 19px;
}

.container {
    margin: 0;
}

.container-sobre p {
    width: 800px;
}

.depoimentos {
    padding-top: 70px;
    background-color: #1e5bff;
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}

.stars {
    font-size: 18px;
    margin: 17px;
}

.stars i {
    color: #FFC107;
    margin: 0px;
}

.depoimentos-title {
    text-align: center;

}

.depoimentos-title h1 {
    color: white;
}

.depoimentos-title h2 {
    color: white;
    font-weight: 300;
}

.container-depoimentos {
    padding-top: 50px;
    display: flex;
    gap: 70px;
    margin: 0 auto;
}

.container-depoimentos2 {
    background-color: white;
    border-radius: 16px;
    width: 450px;
}

.chat i {
    font-size: 37px;
    font-weight: 500;
    color: #0077ff;
}

.container-depoimentos2 p {
    color: rgb(87, 85, 85);
    ;
}

.name p {
    color: black;
    font-weight: 400;
}

.contato {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 60px;
}

.contato-title {
    text-align: center;

}

.contato-title h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.contato-title h2 {
    color: rgb(87, 85, 85);
    ;
    font-weight: 400;
    font-size: large;
}

.infos {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infos i {
    width: 47px;
    height: 47px;
    background-color: #c8d5fa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e7dfc;
}

.infos2 {
    display: flex;
}

.container-infos p {
    margin: 0;
}

.informações {
    display: flex;
    margin-left: 125px;
}

.formulario {
    margin-left: 400px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    outline: 2px solid rgba(163, 163, 163, 0.6);
    outline-offset: 0;
    padding: 40px;
    border-radius: 16px;
    background-color: rgb(250, 250, 250);
}

.fill p {
    font-size: small;
    font-weight: bold;
    color: rgb(87, 85, 85);
    margin: 0;
}

.seunome {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #d1d5db;
    /* cinza claro */
    border-radius: 10px;
    /* cantos arredondados */
    font-size: 15px;
    color: #111827;
    outline: none;
    margin-top: 10px;
}

input {
    outline: none;
    box-shadow: none;
    background-color:rgb(250, 250, 250); 
}

textarea {
    outline: none;
    box-shadow: none;
    background-color:rgb(250, 250, 250); 
}

.send button {
    background-color: #0077ff;
    width: 380px;
    border-radius: 16px;
    height: 60px;
    color: white;
    cursor: pointer;
}

.send a {
    color: white;
    font-weight: bold;
}
.seunome:hover {
  border: 1px solid #0964ec;
}
.send button:hover {
    background-color: #036be2;
transition: 0.5s;
}
footer{
background: linear-gradient(
  180deg,
  #1F2A44 0%,
  #243255 100%
);
 margin: 0;
}
.footer{
    display: flex;
    gap: 150px;
}
.footer-infos{
    padding-top: 40px;
    padding-left: 170px;
}
.footer-infos h1{
color: white;
font-size: x-large;
}
.footer-infos h2{
    font-size: large;
color: white;
}
.footer-infos p{
    font-size: medium;
color: white;
font-weight: 200;
margin-left: 0;
opacity: 0.7;
}
.footer-infos1{
    padding-top: 40px;
    padding-left: 170px;
}
.footer-infos1 h1{
color: white;
font-size: x-large;
}
.footer-infos1 p{
    font-size: medium;
color: white;
font-weight: 200;
margin-left: 0;
opacity: 0.7;
}
.diretriz{
    padding-top: 40px;
    text-align: center;
    padding-bottom:20px ;
}
.diretriz p{
        font-size: medium;
color: white;
font-weight: 200;
opacity: 0.7;
}
.social-symbols{
    display: flex;
    gap: 25px;
}
.symbol-effect{
    width: 47px;
    height: 47px;
    background-color: #2d3d63;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.symbol-effect i{
    color: white;
}
.places{
    display: flex;
    flex-direction: column;
    gap: 2,5px;
    
}
.places p{
    margin: 0;
}
@media screen and (max-width: 768px){
    .logo {
    color: rgb(0, 66, 248);
    font-size: medium;
}
.secoes {
    padding-left: 30px;
}
.cabecalho {
    display: flex;
    background-color: white;
    box-shadow: 0 0px 15px rgb(37, 37, 37);
    position: fixed;
    top: 0;
    z-index: 2;
    max-width: 100%;
    padding-left: 15px;
    align-items: center;
   padding: 0;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 11px;
    color: rgb(53, 51, 51);
}
.contact{
    display: none;
}
.container-title {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    
}

.destaque{
background-image: url("img/background.png");
background-repeat: no-repeat;
}
.odont{
    display: none;
}
.title{
    color: rgb(0, 0, 0);
    width: 260px;
    margin-bottom: 10px;
margin-left: 39px;
}
.first-paragraph {
    color: black;
    font-size: 15px;
    width: 340px;
    font-weight: 500;

}
.agendar button {
    height: 44px;
    padding-right: 14px;
    font-size: 12px;
    display: flex;
    padding-top: 14px;
padding-left: 14px;
}
.agendar a{
    font-size: small;
}
.agendar i{
    display: none;
}


.serv button{
        height: 44px;
    padding-right: 14px;
        padding-top: 12px;
padding-left: 14px;
}
.status {
    gap: 15px;
    display: flex;
}

.year h2 {
    margin-bottom: 0px;
    height: 18px;
    color: #0011ff;
}

.year p {
margin: 0px;
    font-size: small;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.pacientes h2 {
    margin-bottom: 0px;
    height: 18px;
    color: #0011ff;
}

.pacientes p {
margin: 0px;
    font-size: small;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.feedback h2 {
    margin-bottom: 0px;
    height: 18px;
    color: #0011ff;
}

.feedback p {
margin: 0px;
    font-size: small;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.container-serv1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.container-serv2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}
.box{
    width: 100%;
}
.sobre{
    display: flex;
    flex-direction: column;
}
.brush img {
    border-radius: 10px;
    height: 250px;
    margin: 10px;
    width: auto;
}
.container-sobre p{
    width: auto;
}
.container-status{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.depoimentos-title{
    margin-right: 30px;
}
.depoimentos-title h2{
    font-size: large;
    width: 400px;
}
.container-depoimentos{
    display: flex;
    flex-direction: column;
}
.container-depoimentos2{
    width: 100%;
}
.infos{
    display: none;
}
.informações {

    margin-left: 0px;
}
.formulario{
    height: auto;
    width: 400px;
    margin-left: 0;
}
.send button{
    width: 323px;
}
footer{
    width: auto;
    height: auto;
}
.footer{
    display: flex;
    gap: 35px;
}
.footer-infos{
    padding-top: 40px;
    padding-left: 10px;
}
.footer-infos1{
    display: none;
}
}